<h1>New Article</h1>

<!--
Render the form partial, passing the article.
Rails knows 'form' means the partial will be in a file
called _form.html.erb
-->
<%= render 'form', article: @article %>
